html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: all 0.2s ease-in;
}

.deck .card.open {
    transform: rotateY(180deg);
    background: #02b3e4;
    font-size: 33px;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .moves {
    text-indent: 1em;
    display: inline-block;
    width: 100px;
}

/*
* Styles for congratulations popup
*/
.popup {
    position: absolute;
    top: 100px;
    left:5%;
    right:5%;
    z-index: 1;
    box-shadow: 0 0 100px 3px rgba(0, 0, 0, 0.3);
    padding: 2px;
    opacity: 0;
    display: none;
    justify-content: center;
    transition: all 0.3s;
}

.popup h2 {
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

.popup .fa-gift {
    color: #02ccba;
    animation: glitter 0.2s ease-in-out 0 infinite alternate;
}

@keyframes glitter {
    0% {
        color: #02ccba;
    }
    20% {
        color: #026acc;
    }
    40% {
        color: #0216cc;
    }
    60% {
        color: #7102cc;
    }
    80% {
        color: #cc02aa;
    }
    100% {
        color: #02cc4f;
    }
}